body {
    margin: 20px;
    background: black;
    background-image: url('http://i3.kym-cdn.com/photos/images/newsfeed/000/283/235/7e3.jpg');
    -ms-background-position: center;
    background-position: center;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.container {
    background: #CCC;  
}

